//- ** This is a sample of a pug template and how it uses the data passed to it from index.js.

doctype html
html 
    head 
        title= `${title}`
        meta(name="viewport" content="width=device-width, initial-scale=1")
        link(rel="stylesheet", href="/css/style.css")
    body
        a(href="/") Return to homepage

        form(action="/submit" method="POST")
        label(for="name") Name:
        input(type="text" id="name" name="name" required)

        label(for="first_sighting") First Sighting:
        input(type="text" id="first_sighting" name="first_sighting" required)

        label(for="habitat") Habitat:
        input(type="text" id="habitat" name="habitat" required)

        label(for="size_string") Size:
        input(type="text" id="size_string" name="size_string" required)

        button(type="submit") Submit